{% extends 'base.html' %}

{% block styles %}
<link href="https://unpkg.com/maplibre-gl@^5.8.0/dist/maplibre-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}

<section class="container"> 
  <h1>Long Covid Clinics project</h1>
  <!-- <p>The last piece of the puzzle is the scrollama callback functions. In the first one, we can trigger changes to the chart by handling which step becomes active. In the enter and exit callback functions, we stick and unstick the graphic, respectively.</p> -->
  {% for p in copy.top_text %}
	<p>{{ p.value }}</p>
  {% endfor %}
</section>


<section id='scroll'>
	<!--  graphic container  -->
	<div class='scroll__graphic'>
		<!--   actual graphic/chart   -->
		<div class='chart'>
			<div id="map" style="position: relative; min-height: 400px: 100%; width: 100%;"></div>
		</div>
	</div>
	<!--  step/text container  -->
	<div class='scroll__text'>
		{% for p in copy.steps %}
			<div class='step' data-step='{{loop.index}}'>
				<p>{{p.value}}</p>
			</div>	
		{% endfor %}
	</div>
</section>

<section class="container">
  {% for p in copy.bottom_text %}
    <p>{{ p.value }}</p>
  {% endfor %}
</section>

{% endblock content %}

