<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock lang %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ meta.seo_headline }}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{ meta.seo_description }}{% endblock description %}">

  {% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock viewport %}

  {% block canonical_url %}<link rel="canonical" href="{{ page.absoluteUrl }}">{% endblock canonical_url %}

  {% block meta %}
  {% endblock meta %}

  {% block opengraph %}
  <meta property="og:title" content="{{ meta.social_headline }}">
  <meta property="og:description" content="{{ meta.social_description }}">
  <meta property="og:url" content="{{ page.absoluteUrl }}">
  <meta property="og:image" content="{% staticabsolute meta.social_image %}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ meta.site_name }}">
  <meta property="og:locale" content="{{ meta.locale }}">
  {% endblock opengraph %}

  {% block twitter %}
  <meta property="twitter:title" content="{{ meta.social_headline }}">
  <meta property="twitter:description" content="{{ meta.social_description }}">
  <meta property="twitter:url" content="{{ page.absoluteUrl }}">
  <meta property="twitter:image" content="{% staticabsolute meta.social_image %}">
  <meta property="twitter:card" content="summary_large_image">
  {% endblock twitter %}

  {% block ldjson %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ meta.seo_headline }}",
    "image": {
      "@type": "ImageObject",
      "contentUrl": "{% staticabsolute meta.social_image %}",
      "url": "{% staticabsolute meta.social_image %}",
      "representativeOfPage": true
    },
    "dateCreated": "{{ meta.pub_date|date("yyyy-MM-dd HH:mm:ss") }}",
    "datePublished": "{{ meta.pub_date|date("yyyy-MM-dd HH:mm:ss") }}",
    {% if meta.update_date %}
    "dateModified": "{{ meta.update_date|date("yyyy-MM-dd HH:mm:ss") }}",
    {% endif -%}
    "mainEntityOfPage": "{{ page.absoluteUrl }}",
    "description": "{{ meta.seo_description }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ meta.site_name }}",
      "url": "{{ DOMAIN }}",
    },
    "author": [{% for author in meta.byline %}{
      {% if author.name %}"name": "{{ author.name }}",{% endif %}
      {% if author.url %}"url": "{{ author.url }}",{% endif %}
      "@type": "Person"
    }{% if not loop.last %},{% endif %}{% endfor %}]
  }
  </script>
  {% endblock ldjson %}

  {% block styles %}
  {% endblock styles %}

  {% block scripts %}
  {% endblock scripts %}
</head>
<body>
  {% block content %}
  {% endblock content %}

  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-column">
          <p><em>The Sick Times</em> is an independent news site founded by journalists Betsy Ladyzhets and Miles Griffis. We report on the Long COVID crisis, COVID-19, and infection-associated illnesses.</p>
        </div>

        <div class="footer-column">
          <p><strong>Contact:</strong><br>
          <a href="mailto:editors@thesicktimes.org">editors@thesicktimes.org</a></p>
        </div>

        <div class="footer-column">
          <ul class="footer-links">
            <li class="has-link-color has-small-font-size wp-elements-19ce409f1a49f7605443b482929f64cd"><a href="https://thesicktimes.org/" data-type="link" data-id="https://thesicktimes.org/">Home</a></li>
            <li class="has-link-color has-small-font-size wp-elements-272fe6dd27f9706f6e4b7533e62b97fa"><a href="https://thesicktimes.org/about/" data-type="page" data-id="84">About</a></li>
            <li class="has-link-color has-small-font-size wp-elements-452a3c2ba4e38135cf80ae0a07936940"><a href="https://thesicktimes.org/newsletter/" data-type="page" data-id="2">Newsletter</a></li>
            <li class="has-small-font-size"><a href="https://thesicktimes.org/category/podcast/" data-type="link" data-id="https://thesicktimes.org/category/podcast/">Podcast</a></li>
            <li class="has-link-color has-small-font-size wp-elements-771fa691b2f94f046cbd45077aed8edd"><a href="https://thesicktimes.org/transparency-policies/" data-type="page" data-id="2210">Transparency &amp; policies</a></li>
            <li class="has-link-color has-small-font-size wp-elements-3d44ab304b8295d2b08d86661afa87fe"><a href="https://thesicktimes.org/write-for-us-part-time-opportunities/" data-type="page" data-id="2444">Write for us</a></li>
            <li class="has-small-font-size"><a href="https://thesicktimes.org/resources/" data-type="page" data-id="3577">Resources</a></li>
            <li class="has-link-color has-small-font-size wp-elements-293e1ea177f451755b89dca255b36f35"><a href="https://the-sick-times.fundjournalism.org/donate/" target="_blank" rel="noreferrer noopener">Donate</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright">
        <p>© 2025 The Sick Times</p>
      </div>
    </div>
  </footer>
</body>
</html>
